<div class="row">
  <!-- methode template -->
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)='onSubmit(f)' #f="ngForm">
      <div class="form-group">
        <label for="name">
          Annonce
        </label>
        <input type="text" id="name" class="form-control" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="status">
          Etat de l'annonce
        </label>
        <select id="status" class="form-control" name="status" ngModel [ngModel]="defaultOnOff">
          <option value="Publiée">Publiée</option>
          <option value="Désactivée">Désactivée</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>