<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': annonceStatus === 'Publié',
                'list-group-item-danger': annonceStatus === 'Désactivée'}">
    <!-- <div style=" width:20px;height:20px;background-color:red;" *ngIf="annonceStatus === 'Désactivée'"></div> -->

    <h4 [ngStyle]="{color:getColor()}"> Annonces :{{annonceName}} -- Statut : {{ getStatus()}}</h4>
    <a [routerLink] ="[id]">Détail</a>
    <button class="btn btn-success" (click)="onSwitchOn()"[disabled]="annoceStatus === 'Plublié'">
        Publier
    </button>
    <button class="btn btn-danger" (click)="onSwitchOff()"[disabled]="annoceStatus === 'Désactivée'">
        Désactiver
    </button>
    <!-- <input type="text" class="form-control" [(ngModel)]="annonceName"> -->
</li>