<h2>Authentification</h2>
<button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()">
  Se connecter</button>
<button class="btn btn-sucess" *ngIf="authStatus" (click)="onSignOut()">
  Se déconnecter
</button>