<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="auth">Authentification</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="annonces">Ajouter une annonce</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="edit">
          Nouvelle Annonce
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="users">
          Utilisateurs
        </a>
      </li>
    </ul>
    <div class="navbar-right">
      <p>Vous connecté depuis {{ secondes }} secondes!</p>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>