<div class="col-xs-12">
  <h2>MES ANNONCES</h2>
  <p>Mis à jour : {{lastUpDate | async | date:'yMMMMEEEEd' | uppercase
    }}</p>
  <ul class="list-group">
    <app-ad *ngFor= "let annonce of annonces; let i = index"
    [indexOfAd]="i"
    [annonceName]="annonce.name"
    [annonceStatus]="annonce.status"
    [id]="annonce.id"></app-ad>

    <!-- <app-ad [annonceName]="adTwo" [annonceStatus]="'Publié'"></app-ad>
    <app-ad [annonceName]="adThree" [annonceStatus]="'Désactivée'" ></app-ad> -->
  </ul>
  <!-- [disabled]="isAuth" -->
  <button class="btn btn-success" 
  (click)="onPublier()">
  Tout publier</button>
  <button class="btn btn-danger"
  (click)="onDesactiv()">
  Tout désactiver
  </button>
  <button class="btn btn-primary" 
  (click)="onSave()">
  Sauvegarder</button>
  <button class="btn btn-primary" 
  (click)="onFetch()">
  Charger</button>
</div>
